## WELCOME TO THE FIRST LECTURE NOTEBOOK
WE SHALL COVER THE FOLLOWING TOPICS IN THIS NOTEBOOK
1. General Introduction of Python Language
2. Simple Mathematical operations in Python
3. Inrtoduction String and operations on strings
4. Python List and operations on List
5. Dictionaries in Python
6. Program Control Flow (if, elif and else statements)

In [1]:
print ('Hello World!')

Hello World!

In [3]:
print ('This is't my name')

This is't my name

### Addition, Substraction, Division Modulu

In [4]:
my_salary = 1000
EdoTaxRate = 0.1

In [5]:
takehome = my_salary*EdoTaxRate
print(takehome)

100.0

In [27]:
summ = firstNum + secondNum
print(summ)

3000

In [28]:
summ = firstNum + secondNum
print('summ')

summ

In [29]:
summ = firstNum * secondNum
print(summ)

2000000

In [30]:
summ = firstNum / secondNum
print(summ)

0.5

In [31]:
summ = firstNum - secondNum
print(summ)

-1000

In [32]:
a = 7
b =3
print(a/b)
print (a%b)

2.3333333333333335
1

In [33]:
print(2**3)

8

In [34]:
print(a**3)

343

In [35]:
print(2+10*10+3)

105

In [36]:
print((2+10)*(10+3))

156

## Strings

In [6]:
myName = "David Acheme"
yourName = 'David Acheme'
len(myName)

12

# Indexing

In [7]:
myName[11]

'e'

In [8]:
myName[5]

' '

## Slicing

In [12]:
my = 'abcdefghijkl'
my[6:]

'ghijkl'

In [41]:
my = 'abcdefghijkl'
#my[start:stop:step]
my[0: :2]

'acegik'

In [42]:
my = 'abcdefghijkl'
#my[start:stop:step]
my[0:11:3]

'adgj'

In [43]:
my = 'abcdefghijkl'
my[: :-1]

'lkjihgfedcba'

## Concatenation of Strings

In [44]:
a =5
b =6
sum = "a+b"
print ("The sum of A and B is " + sum)

The sum of A and B is a+b

In [45]:
my = 'abcdefghijkl'
#Replacing the fisrt value 'a' with 'r'
myb = my[1:]
print(myb)

bcdefghijkl

In [46]:
print("r" + myb)

rbcdefghijkl

In [47]:
# You can Multiply strings in Python
myb*50

'bcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijklbcdefghijkl'

## Common String Functions in Python

Hiting a String, then dot then the tab key brings out the functons associated with a string

In [13]:
mystring = "abcdefgh"

In [5]:
mystring.upper()

'ABCDEFGH'

In [14]:
another = "ADCJEKE"

In [15]:
another.lower()

'adcjeke'

upper()
lower()
split()

In [50]:
# len Returns the lenght of the string
len(myb*50)

550

In [51]:
# uppercases
mybb = myb.upper()
print(mybb)

BCDEFGHIJKL

In [52]:
#lowercases
mybbb = mybb.lower()
print(mybbb)

bcdefghijkl

In [16]:
# Split
myv = " My a House a is at Number 5, Mopol a 60 Road Iyamho"
myv.

In [19]:
myv.split("a")

[' My ', ' House ', ' is ', 't Number 5, Mopol ', ' 60 Ro', 'd Iy', 'mho']

In [54]:
myv.split('a')

[' My ', ' House ', ' is ', 't Number 5, Mopol ', ' 60 Ro', 'd Iy', 'mho']

## String Formating for Printing using .format method

The .format method has the syntax:
    string{}{}.format('hhhh', 'hjkuu')

In [21]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [23]:
print('the {} {} {}'.format('yam', 'potatoes', 'cassava') )

the yam potatoes cassava

In [24]:
print('The {f} {b} {q}'.format(f='fox', b='brown', q='quick'))

The fox brown quick

## FLOAT FORMATING

Float formattin follows {value:width.precision f}

In [25]:
result = 100/777

In [26]:
print("The result was {}".format(result))

The result was 0.1287001287001287

In [29]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

 ## LIST IN PYTHON

In [14]:
my_list =  [1,2,3]
my_newList = ['String', 100, 23.5]

In [15]:
len(my_list)

3

### INDEXING AND SLICING OF LIST

In [16]:
newlist = [3,4,5,6,7,8,12]
newlist[0]

3

In [17]:
newlist[1:]

[4, 5, 6, 7, 8, 12]

### LIST CONCATENATION

In [30]:
newlist = [3,4,5,6,7,8,12]
anodaList = ['John', 'Peter', 'James']
concatlist = anodaList+newlist
print(concatlist)

['John', 'Peter', 'James', 3, 4, 5, 6, 7, 8, 12]

### An important difference between a list and a string is mutibility

## FUNCTIONS IN A LIST

In [ ]:
append
pop
sort
reverse

# DICTIONARIES IN PYTHON

Dictionaries are unordered mapping for storing objects, unlike list which is an ordered list
it uses a key- pairing instead
This allows objects to be grabed without knowing their index position

In [19]:
my_dict = {'key1':'value1', 'key2': 'value2'}

In [20]:
my_dict['key1']

'value1'

In [22]:
price_lookup={'panadol':150, 'septrin': 120, 'cofline':300}

In [25]:
price_lookup ['panadol']

150

A Dictionary can Hold other data structures like list and even dictionaries

In [32]:
d = {'key1': 234, 'key2': [2,3,4,5,6,8], 'key3':{'innerkey': 100}}

In [34]:
d['key2'][3]

5

Adding Values to a Dictionary

In [29]:
di = {'k1': 100, 'k2': 200, 'k3': 300}

In [31]:
di['k4']=400
di

{'k1': 100, 'k2': 200, 'k3': 300, 'k4': 400}

In [ ]:
Some Methods in Dictionaries

In [32]:
di.keys()
di.values()
di.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300), ('k4', 400)])

## CONTROL FLOW

In [ ]:
if Statement
elif

In [14]:
x = 13
if x >=10:
    print ("Hello")

Hello

INTRODUCING THE Input Statement

In [33]:
UserAge = input("Enter your Age ")
UserAgeOne = input("Enter your Age ")
print(UserAge+UserAgeOne)

Enter your Age 45
Enter your Age 50
4550

In [6]:
age1 = int(input("Enter your Age"))
age2 = int(input("Enter your Age"))
print(age1+age2)

Enter your Age34
Enter your Age34
68

In [12]:
firstNum = int(input("enter first number"))

secondNum = int(input("enter second number"))

ThirdNum = int(input("enter third number"))
average = (firstNum+secondNum+ThirdNum)/3

print("The average of the three numbers is:")
print(average)

enter first number32
enter second number34
enter third number234
The average of the three numbers is:
100.0

In [15]:
UserAge = int(input("Enter your Age")) 
if UserAge >=18:
        print("You can enter")

Enter your Age34
You can enter

In [1]:
UserName = input("Enter your Age")
if UserName =="John":
        print("Welcome Bro, I Have been Expecting You")

Enter your AgeJohn
Welcome Bro, I Have been Expecting You

In [3]:
UserAge = int(input("Enter your Age ")) 
if UserAge >=18:
        print("You can enter")
else:
        print("You are too young to enter this site")

Enter your Age14
You are too young to enter this site

In [5]:
UserName = input("Enter your Age")
if UserName =="John":
        print("Welcome Bro, I Have been Expecting You")
else:
        print("I don't Know You")

Enter your AgePeter
I don't Know You

## ELSE .....If in Python

In [9]:
UserName = input("Enter your Name")
if UserName =="John":
        print("Welcome John, I Have been Expecting You")
elif UserName =="Peter":
        print("Welcome Peter, I Have been Expecting You")
elif UserName =="James":
        print("Welcome James, I Have been Expecting You")
else:
        print("I don't Know you")

Enter your NameNicho
I don't Know you

### Program BMI

In [1]:
weight = float(input("Enter your weight in Kg"))
height = float(input("Enter your height in meters"))

BMI = weight/height**2
print(BMI)

if BMI <18.5:
    print("You are Underweight")
elif BMI>=18.5 and BMI<24.9:
    print("Your weigth is normal")
elif BMI>=25 and BMI<29.9:
    print("You are overweight")
else:
    print("You are obese")

Enter your weight in Kg82
Enter your height in meters1.8
25.30864197530864
You are overweight